﻿@{
    if (Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["AlternativeDesign"]))
    {
        if (TempData["warning"] != null && TempData["warning"] != "")
        {
            <div class="alerta alerta-warning">
                <button type="button" class="close" onclick="closealert(this)"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                @TempData["warning"]
            </div>
        }
        if (TempData["success"] != null && TempData["success"] != "")
        {
            <div class="alerta alerta-success">
                <button type="button" class="close" onclick="closealert(this)"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                @TempData["success"]
            </div>
        }
        if (TempData["info"] != null && TempData["info"] != "")
        {
            <div class="alerta alerta-info">
                <button type="button" class="close" onclick="closealert(this)"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                @TempData["info"]
            </div>
        }
        if (TempData["error"] != null && TempData["error"] != "")
        {
            <div class="alerta alerta-erro">
                <button type="button" class="close" onclick="closealert(this)"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                @TempData["error"]
            </div>
        }
    }
    else
    {
        if (TempData["warning"] != null && TempData["warning"] != "")
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span class="glyphicon glyphicon-warning-sign" style="font-size: 1.2em;"></span> <span style="white-space:pre-line"><strong> @TempData["warning"] </strong></span>
            </div>
        }
        if (TempData["success"] != null && TempData["success"] != "")
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span class="glyphicon glyphicon-ok-sign" style="font-size: 1.2em;"></span> <span style="white-space:pre-line"><strong> @TempData["success"] </strong></span>
            </div>
        }
        if (TempData["info"] != null && TempData["info"] != "")
        {
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span class="glyphicon glyphicon-info-sign" style="font-size: 1.2em;"></span> <span style="white-space:pre-line"><strong> @TempData["info"] </strong></span>
            </div>
        }
        if (TempData["error"] != null && TempData["error"] != "")
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span class="glyphicon glyphicon-minus-sign" style="font-size: 1.2em;"></span> <span style="white-space:pre-line"><strong> @TempData["error"] </strong></span>
            </div>
        }
    }
}
