﻿@model IEnumerable<ServicosAcademicos.Models.AlunoCurso>

@{
    ViewBag.Title = "Requerimentos";
    ViewBag.PageTitle = "Requerimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            loadPageNum(@ViewBag.NPages, @ViewBag.APage);
        });
    </script>    
}

<div class="col-md-3" style="float:right; margin-bottom: 30px;" >
    <input id="procurar" type="text" class="form-control text-box single-line"placeholder="Procurar" oninput="procurar(this.value)" value="@ViewBag.Texto" />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            <a href='@Url.Action("RequerimentosAluno", new { id = item.numero })'><input type="button" value='Ver' class="btn btn-default" style="float: right;" /></a>
        </td>
    </tr>
}

</table>


<div id="page_num"></div>