﻿@model IEnumerable<AcadUNNamespace.Models.Plano>

@using System.Reflection
@using ServicosAcademicos.Helpers

@{
    ViewBag.Title = "Planos - " + ViewBag.ParentTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

    //analisar argumentos a carregar para a tabela
    Dictionary<PropertyInfo, bool> showList = ViewHelper.map(Model);
    int showCount = showList.Where(x => x.Value).Count();

}

@section Scripts{
    <script>
        function checkInput(e) {
            if (e.keyCode == 13) {
                search();
            }
        }

        function search() {
            let instituicao = '@Request.Params["instituicao"]';
            let curso = '@Request.Params["curso"]';
            let anoLetivo = $('#searchInput').val();

            var reg = /^\d+$/;
            if (reg.test(anoLetivo)) {
                let url = '@Url.Action("Planos")';
                url += "/?instituicao=" + instituicao + "&curso=" + curso + "&anoletivo=" + anoLetivo;

                $('#searchError').html('');

                window.location.href = url;
            }
            else {
                $('#searchError').html('Deve introduzir um valor válido');
            }
        }
    </script>
}

<style>
    .table {
        padding: 0 15px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
    }
</style>

<!--Navigation-->
<div id="navigation">
    <a href='@Url.Action("Cursos", new { instituicao = Request.Params["instituicao"]})'>@Request.Params["instituicao"]</a>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href='#' class="active">@Request.Params["curso"]</a>
</div>
<!--NavigationEnd-->

<h2>Planos</h2>
<h3>@ViewBag.ParentTitle</h3>

@if (Model != null && Model.Count() > 0 && showCount > 0)
{
    <div id="searchBlock" class="input-group">
        <input id="searchInput" type="text" class="form-control" placeholder="ano letivo" onkeypress="checkInput(event)" value='@Request.Params["anoletivo"]' />
        <div class="input-group-btn">
            <button class="btn btn-default" title="Procurar por ano letivo" onclick="search()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    <div id="searchError"></div>

    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (var sh in showList)
                {
                    if (sh.Value)
                    {
                        <th>@ViewHelper.toDisplayName(sh.Key)</th>
                    }
                }

                <!--Actions-->
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var sh in showList)
                    {
                        if (sh.Value)
                        {
                            <td>@ViewHelper.toShow(sh.Key.GetValue(item))</td>
                        }
                    }

                    <!--Actions-->
                    <td>
                        <div class="actions">
                            <a class="btn btn-default" href='@Url.Action("UCS", new { instituicao = Request.Params["instituicao"],  curso = item.CodigoCursoDGES, plano = item.Codigo })' title="Unidades Curriculares"><span class="glyphicon glyphicon-th-list"></span>Unidades Curriculares</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="emptyListWarning">
        Não existem planos a apresentar.
    </p>
}