﻿@model IEnumerable<AcadUNNamespace.Models.UnidadeCurricular>

@using System.Reflection
@using ServicosAcademicos.Helpers

@{
    ViewBag.Title = "Unidades Curriculares - " + ViewBag.ParentTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

    //analisar argumentos a carregar para a tabela
    Dictionary<PropertyInfo, bool> showList = ViewHelper.map(Model);
    int showCount = showList.Where(x => x.Value).Count();

}


<style>
    .table {
        padding: 0 15px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
    }
</style>

<!--Navigation-->
<div id="navigation">
    <a href='@Url.Action("Cursos", new { instituicao = Request.Params["instituicao"]})'>@Request.Params["instituicao"]</a>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href='@Url.Action("Planos", new { instituicao = Request.Params["instituicao"], curso = Request.Params["curso"].Replace('-',':')})'>@Request.Params["curso"].Replace('-', ':')</a>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href='#' class="active">@Request.Params["plano"].Replace('-', ':')</a>
</div>
<!--NavigationEnd-->

<h2>Unidades Curriculares</h2>
<h3>@ViewBag.ParentTitle</h3>

@if (Model != null && Model.Count() > 0 && showCount > 0)
{
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (var sh in showList)
                {
                    if (sh.Value)
                    {
                        <th>@ViewHelper.toDisplayName(sh.Key)</th>
                    }
                }

                <!--Actions
                <th></th>-->

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var sh in showList)
                    {
                        if (sh.Value)
                        {
                            <td>@ViewHelper.toShow(sh.Key.GetValue(item))</td>
                        }
                    }

                    <!--Actions
                    <td class="actions"></td>-->

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="emptyListWarning">
        Não existem unidades curriculares a apresentar.
    </p>
}